#color-palette {
  margin: 1px solid black;
}

.color {
  background-color: white;
  padding: 30px;
  border: 1px solid black;
  width: 50px;
  display: inline-block;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#purple {
  background-color: purple;
}

#pixel-board {
  margin-top: 15px;
  width: 210px;
  height: 210px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}
