body {
  background-image: url('rocket.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 20%;
  margin: 0;
}

#color-palette {
  width: 400px;
  position: relative;
  margin-left: 35.5%;
  margin-bottom: 20px;
}

.color {
  background-color: white;
  padding: 30px;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 100%;
}

#black {
  background-color: black;
}

header {
  background-color: #0f0332;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

#pixel-board {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 210px;
  height: 210px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

#header {
  text-align: center;
  margin-bottom: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 81%;
  width: 100%;
}

#my-name {
  color: blueviolet;
}

#color-palette {
}

#input-section {
  position: relative;
  margin-left: 40.5%;
}

#clear-board {
  position: relative;
  margin-left: 47%;
  margin-top: 8px;
}
